.question-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: margin-left 0.3s ease-in-out;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background: #f4f4f4;
  position: fixed;
  left: -250px;
  top: 0;
  transition: 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.menu-open .sidebar {
  left: 0;
}

.main-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s ease-in-out;
}

.menu-open .main-content {
  margin-left: 250px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}

.reports-list {
  margin-top: 20px;
}

.report-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.report-item.active {
  background: lightblue;
}

.logout {
  background:#ECE6F0;
  color: #6750A4;
  width: 100%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.question-box {
  padding: 20px;
  margin-top: 20px;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  padding: 10px;
  border: 1px solid gray;
  margin: 5px 0;
  color: #0023007C;
}

.question-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background: purple;
  color: white;
  border: none;
  cursor: pointer;
}
.progress-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: #e5e5e5;
  color: #444;
}

.active {
  background: #a855f7;
  color: white;
}

.progress-line {
  width: 50px;
  height: 4px;
  background: #e5e5e5;
}

.filled {
  background: #a855f7;
}